.change-password{
    height: 17vmax;
    width: 30%;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 0.5px solid grey;
    margin-top: 2vmax;
    gap: 1vmax;
    border-radius: 3px;
    background-image: url('./login img.jpg');
    background-size: cover;
}

.change-password p{
    font-weight: 600;
    font-size: 18px;
    color: #3e3d3d;
    border-bottom: 0.2px solid grey;
}

.change-password input{
    padding: 0.7vmax;
    width: 70%;
    outline: none;
    text-align: center;
}

.change-password button{
    width: 6vmax;
    padding: 0.5vmax;
    background-color: tomato;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}