.home{
    height: auto;
    width: 95vw;
    padding: 2rem;
    background-color: #FAF7F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0px 0px;
}

.home-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0px 0px;
}

.home-cart{
    height: 14rem;
    width: 17rem;
    border: 0.5px solid #c2c2c2;
    padding: 1rem;
    border-radius: 8px;
}

.home-cart img{
    height: 9rem;
    width: 17rem;
}

.home-cart p{
    margin: 0px 0px;
}