.home{
    height: 81vh;
    width: 95vw;
    padding: 2rem;
    background-color: #FAF7F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0px 0px;
    background-image: url('/home-pg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home p{
    width: 55vw;
    color: #f14a2d;
    font-size: 3rem;
    font-weight: 600;
    box-shadow: 5px 5px 50px rgba(0,0,0,1);
    text-align: center;
}

.home button{
    width: 13vmax;
    padding: 1vmax;
    background-color: tomato;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.home-cart{
    height: auto;
    width: 95vw;
    padding: 2rem;
    background-color: #FAF7F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0px 0px;
}

.home-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0px 0px;
}

.home-cart-box{
    height: 15vmax;
    width: 17vmax;
    border: 0.5px solid #c2c2c2;
    padding: 1rem;
    border-radius: 8px;
}

.home-cart img{
    height: 9rem;
    width: 100%;
}

.home-cart p{
    font-size: 14px;
    margin: 0px 0px;
    text-align: center;
}