body{
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-x: hidden;
}

.body{
  height: auto;
  width: 100vw;
  /* background-color: #FAF7F2; */
}