.login-user-all-posts{
    height: auto;
    width: 80%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: 0 auto;
    padding: 2vmax;
}

/* .all-posts p{
    margin: 0px;
} */

.login-user-all-posts-heading{
    height: 1.9vmax;
    width: 10vmax;
    font-size: 1.2rem;
    font-weight: 700;
    color: #3d3d3d;
    text-align: center;
    border-bottom: 0.5px solid grey;
    margin: 0 auto;
    margin-bottom: 2vmax;
}

.login-user-all-posts-content{
    display: flex;
    flex-wrap: wrap;
    gap: 1vmax;
    justify-content: center;
    align-items: center;
}

.login-user-all-posts-box{
    height: 19vmax;
    width: 17vmax;
    border: 0.5px solid grey;
    padding: 1vmax;
    border-radius: 3px;
}

.login-user-all-posts-box-image{
    height: 15vmax;
    width: 100%;
}

.login-user-all-posts-box-location{
    font-size: 14px;
    margin: 0px;
    text-align: center;
    color: #272727;
}

.login-user-no-posts{
    height: 100%;
    width: 20vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vmax;
}

.login-user-no-posts-icon{
    font-size: 5rem;
    color: tomato;
    font-weight: 900;
}

.login-user-no-posts-heading{
    width: 18vmax;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.add-posts-btn{
    padding: 0.7vmax;
    margin: 1vmax;
    border-radius: 3px;
    background-color: tomato;
    border: none;
    color: #282828;
    font-weight: 500;
    cursor: pointer;
}

.login-user-all-posts-box-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-user-all-posts-box-btn button{
    padding: 0.5vmax;
    background-color: #dedede;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}