.signup img{
    height: 70vh;
    width: 25vw;
}

.signup{
    height: 90.5vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FAF7F2;
    background-image: url('./login img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.signup-form{
    height: 65vh;
    width: 22vw;
    padding: 1rem;
    border: 0.5px solid #dbd8d8e1;
    border-radius: 3px;
}

.signup-form input{
    width: 90%;
    height: 6%;
    padding: 0.4rem;
    outline: none;
}

.signup-form label{
    color: #1e1e1e;
    font-weight: 600;
}

.signup-heading{
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 0;
    color: rgb(21, 210, 65);
    border-bottom: 1px solid #bbb9b9e1;
}

.signup-btn{
    display: flex;
    gap: 1.5vmax;
}

.signup-btn button{
    height: 2rem;
    width: 4rem;
    padding: 0.5rem;
    background-color: tomato;
    border: none;
    border-radius: 3px;
    color: #383636;
    cursor: pointer;
    transition: 0.3s;
}

.signup-btn button:hover{
    color: #d4d2d2;
}

.signup-btn-link{
    color: #0f8fff;
}